body {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    height: 100%;
}
.table-custom th,input,.item-dashboard-content h6,.main-content-tittle,.main-content-body-result button,#root div{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
input {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: .8rem !important;
    text-shadow: 0 0 #948f8f;
}
.main-content-header button{
    font-size: 0.8rem !important;
}
/* .css-ahj2mt-MuiTypography-root{
    font-size: 1.1vw;
}
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle,.MuiDataGrid-cell--textLeft,.css-1kxbtff-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input,.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
    font-size: .8vw !important;
}
.ant-table,.css-1knaqv7-MuiButtonBase-root-MuiButton-root,.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper,.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input::placeholder{
    font-size: .9vw !important;
} */

.css-f3jnds-MuiDataGrid-columnHeaders{
    border-radius: 0 !important;
}
html{
    margin: 0;
    height: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4{
    margin: 0;
    font-weight: 500;
    padding: 12px 0;
    font-size: 1rem;
}
hr {
    margin: 10px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: #fff;
}
.css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input{
    font: revert;
    color: #000;
}
.MuiButtonBase-root{
    font-size: 0.88rem !important;
    /*color: #1F2251 !important;*/
    text-transform: inherit !important;
}
.makhoanvay h5{
    font-weight: 500 !important;
    font-size: 1rem;
    color: #1F2251;
}

input:has(> div){
    height: 40px;
}
.header {
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.nav ul li:hover {
    background:rgb(34 39 112 / 52%);
}

.nav ul li {
    padding: 10px;
    border-radius: 5px;

}

.nav-item-name {
    display: flex;
    align-items: center;
}

.nav-item-name svg {
    margin-right: 5px;
}

.nav-item {
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;

}



.footer {
    width: 100%;
    /*background: #282c34;*/
    /*bottom: 0;*/
    text-align: center;
    /*position: fixed;*/
}

.main {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    height: 54px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(100 116 139 / 12%) 0px 1px 4px;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.main {
    display: flex;
}

.nav-link {
    display: flex;
}

.nav-link li {
    width: 100%;
    display: flex;

}

.nav-link {
    margin-top: 5px;
    border-radius: 5px;
    direction: unset;
    text-decoration: none;
    color: #fff;
}

.nav .active {
    color: #F16F21 !important;
    background: rgb(34 39 112 / 52%);
}
.main-content-header svg path,.MuiButtonBase-root svg path{
    fill: #1F2251;
}
.main-content-header button,.MuiDataGrid-toolbarContainer button{
    color: #1F2251;
    text-transform: capitalize;
}

.main-content-header button:hover{
    background-color: #1F2251;
    color: #fff !important;
}
.main-content-header button:hover svg path{
    /*fill: #fff;*/
}
.main-content-header button{
    border: 1px solid #1F2251;
    margin: 0 6px;
    padding: 4px 12px;
}
.main-content-header button.MuiIconButton-colorPrimary{
    width: 40px;
    height: 40px;
}
.main-content-header .MuiButton-startIcon{
    margin-right: 4px;
}

.main-body {
    height: calc(100vh - 80px);
    /*background-color: red;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-top: 54px;*/


}

.row {
    display: flex;
    margin-top: 20px;
}

.main-content {
    /*position: relative;*/
    padding: 30px;
    /*width: 97%;*/
    /*height: 95%;*/
    /*border-radius: 8px;*/
    /*background-color: rgb(255, 255, 255);*/
    /*color: rgb(18, 24, 40);*/
    /*transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/
    /*box-shadow: rgb(100 116 139 / 6%) 0px 1px 1px, rgb(100 116 139 / 10%) 0px 1px 2px;*/
}

.main-content-tittle {
    font-weight: 600 !important;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.main-content-body {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 24, 40);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: rgb(100 116 139 / 6%) 0px 1px 1px, rgb(100 116 139 / 10%) 0px 1px 2px;
}
#asset_type{
    padding: 7px;
    font-size: .8rem;
    margin-left: 5px;
}
.main-content-body-tittle {
    /*margin-left: 20px;*/
    padding-left: 20px;
    padding-right: 20px;
    /*width: 100%;*/
    height: 45px;
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
}

.main-content-body-tittle {
    display: flex;
    align-items: center;
}

.MuiTabs-indicator{
    background-color: #1F2251 !important;
}
.main-content-body-search {
    padding-left: 20px;
    padding-right: 20px;
    /*height: 90px;*/
    display: flex;
    align-items: center;
    min-height:90px;
    height: 100%;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
    /* outline: solid #1976d2 1px; */
    outline: unset !important;
}

.icon-action {
    display: flex;
    width: 90%;
    /*justify-content: space-between;*/
    justify-content: center;
}

.icon-action>svg {
    cursor: pointer;
    margin-left: 10px;
}

.formik-input {
    width: 100%;
}
.text-right input{
    text-align: right;
}
.form-content {
    padding: 20px;
}

.main-content-body-result {
    height: 70vh;
}

.main-content-detail {  
    margin: 0 auto;
}

h6 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.57;

}

.text-info-tittle {
    width: 25%;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.57;
}

.text-info-content {
    word-break: break-all;
    width: 75%;
    line-height: 1.57;
    color: black;
    font-size: .8rem;
    white-space: pre;

}

.row-detail {
    display: flex;
    padding: 15px 10px 15px 20px;
}

.hidden {
    display: none !important;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  height: calc(100vh - 60px);
    width: calc(100% - 257px);*/
    height: 100%;
    width: 95%;
    /*height: 100vh;*/
    /*width: 100vh;*/
    position: absolute;
    z-index: 10000;
    margin-left: unset !important;
}

.item-file {
    display: flex;
    align-items: center;
    height: 49px;
}


.delete-file {
    margin-left: 5px;
    margin-top: 5px;
}

.name-file {
    word-break: break-all;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.57;
    color: rgb(101, 116, 139);;
}

p::first-letter, .uppercase::first-letter {
    text-transform: capitalize;
}

.uppercase {
    font-style: italic;
    color: red;
}


.MuiDataGrid-iconSeparator {
    display: none
}

.MuiDataGrid-columnHeader, .MuiDataGrid-cell {
    border-right: 1px solid #dee2e6
}

.MuiDataGrid-columnsContainer, .MuiDataGrid-cell {
    border-bottom: 1px solid #dee2e6
}

.MuiPaginationItem-root {
    border-radius: 0
}

.MuiDataGrid-renderingZone {
    max-height: none !important
}

.MuiDataGrid-cell {
    line-height: unset !important;
    max-height: none !important;
    white-space: normal;
    min-height: 50px !important;
}

.MuiDataGrid-row {
    max-height: none !important;
}
.MuiDataGrid-root .MuiDataGrid-cell {
    text-overflow: initial;
    overflow-x: auto;
}
.content-column{
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 6px 0;
}
.row h5{
    color: #1F2251;
}
.text-decoration{
    text-decoration: underline;
    cursor: pointer;
    color: #1976d2;
}

.error-message {
    color: red !important;
}



/*slecttree*/
@font-face {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

/* mdl-demo is a custom classname to increases the specificity of our styles. It can be anything.
 * The idea is that it is easy to extend/override builtin styles with very little effort.
 */

.mdl-demo .dropdown-trigger > span:after {
    font-size: 12px;
    color: #555;
}

.mdl-demo .toggle {
    font: normal normal normal 18px/1 "Material Icons";
    color: #555;
    white-space: pre;
    margin-right: 4px;
}

.mdl-demo .toggle.collapsed::after {
    cursor: pointer;
    content: "\E5CF";
    vertical-align: middle;
}

.mdl-demo .toggle.expanded::after {
    cursor: pointer;
    content: "\E5CE";
    vertical-align: middle;
}

/* checkbox styles */
.mdl-demo .checkbox-item {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    vertical-align: middle;
}
.mdl-demo .checkbox-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #aaa;
    transition: all 0.3s ease-in-out;
}
.mdl-demo .checkbox-item:checked:before {
    height: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    border-color: #2196f3;
}
.mdl-demo .dropdown-trigger {
    border-radius: 0.25rem;
}
.tag-item .search{
    border-bottom: unset !important;
}
.mdl-demo input[type="text"]
{
    font-size:16px;
}
.react-dropdown-tree-select .dropdown .dropdown-trigger {
    height: 45px;
}
.tag-item .tag{
    display: none;
}
.label-input{
    font-size: .8em;
    margin-bottom: 3px;
    font-weight: 500;
}
.wrapper-login{
    display: flex;
    height: 100%;
    background-image: url('assets/img/background.jpg');
    background-size: cover;
}
.wrapper-form-login{
    height: 100%;
    width: 30%;
    background: white;
    margin-left: auto;
    margin-right: 0;

}
.logo img{
    width: 100%;
}
.logo{
    text-align: center;
}
.login-with{
    text-align: center;
}
.options-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.button-login{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fffdfd;
    width: 50%;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    transition: 0.7s
}
.button-login >div{
    margin: 10px;
}
.logo{
    margin: 12px;
    padding-top: 4px;
}
.icon-microsoft img{
    height: 100%;
}
.icon-microsoft{
    height: 100%;
}
.tittle-button-login{
    margin-left: 5px;
}
.button-login:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    transform: scale(0.95, 0.95);
}
.login-with{
    font-size: 14px;
}
.widget-tittle{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.widget {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 24, 40);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(100 116 139 / 6%) 0px 1px 1px, rgb(100 116 139 / 10%) 0px 1px 2px;
}
.icon{
    cursor: pointer;
}
.type-bar{
    width: 100%;
    text-align: right;
}
.widget-content table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;

}
.widget-content td,.widget-content th {
    text-align: left;
}

.row-total{
    color: #1976d2 ;
    background-color: unset !important;

}
.list-table{
    display: flex;
}
.wrapper-table{
    width: 100%;
}
.list-table >div{
    margin: 20px;
}
th{
    font-weight: 600;
}
.tittle-table{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.MuiInputBase-root ,.MuiTablePagination-selectLabel,.MuiTablePagination-displayedRows{
    font-size: .8rem !important;
}
.text-field-link{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.list-file{
    margin-top: 10px;
    max-height:200px ;
    overflow-y: auto;
}
.modal-reject{
    width: 100%;
}
.MuiDataGrid-columnHeadersInner{
    background-color: #1F2251;
}
.MuiDataGrid-toolbarContainer{
    height: 47px;
}

.table-custom{
    border-right: 1px solid #dddddd;

}
.table-custom td,.table-custom th {
    text-align: left;
    border-left: 1px solid #dddddd;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    color: rgb(18, 24, 40);
    font-weight: 400;
    font-size: .8rem;
    min-width: 150px;
    max-width: 150px;
    min-height: auto;
    max-height: none;
    word-break: break-all;
    white-space: pre-wrap;
}

.form-content .MuiGrid-item:last-child button{
    background: #fff;
    box-shadow: none;
    border: 1px solid #1F2251 !important;
}
.form-content .MuiGrid-item:last-child button:hover{
    background-color: #1F2251;
    color: #fff !important;
}
.main-content > button,.main-content .MuiBox-root > button{
    padding: 4px 10px;
    border: 1px solid #1F2251 !important;
}
.main-content > button:hover,.main-content .MuiBox-root > button:hover{
    background-color: #1F2251!important;
    color: #fff !important;
}
.main-content > button:hover svg path,.main-content .MuiBox-root > button:hover svg path{
    fill: #fff;
}
.main-content .MuiBox-root h5 {
    color: #1F2251;
    margin-top: 15px;
}
.table-custom th{
height: 40px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
color: #fff;
border-bottom: none;
background-color: #1F2251;
font-weight: 500;
}
.table-custom{
overflow: auto;
color: rgb(18, 24, 40);
font-weight: 400;
font-size: 1rem ;
line-height: 1.5;
letter-spacing: 0.00938em;
}
.message-table-empty{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}
.time-search {
position: relative;
}

.time-search input {
padding-left: 30px;
}
.time-search img {
position: absolute;
margin: 8px 10px 0 8px
}
.input-date-range {
width: 100%;
}
.input-date-range{
width: 100%;
display: block;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 2px solid #ced4da;
-webkit-appearance: none;
appearance: none;
border-radius: 0.25rem;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.input-date-range:focus {
color: #212529;
background-color: #fff;
border:solid 2px #1976d2;
outline: 0;
}
.item-dashboard svg path{
fill: #fff;
}
.item-dashboard{
border: solid 1px #dddddd;
border-radius: 5px;
transition: 0.7s;
background-color:#F16F21;
width: 250px;
height: 100px;
color: black;
align-items: center;
padding-left: 20px;
justify-content: space-between;
display: flex;
}
.item-dashboard .item-dashboard-tittle{
color: white;
}
.item-dashboard-content h6{
font-weight: 500 !important;
color: white;
}
.form-input{
margin-bottom: 20px;
}
.number{
text-align: right;
}
.MuiDataGrid-columnHeaders svg path{
fill: #fff;
}
.super-app-theme--header {
color: #fff;
border-bottom: none;
background-color: #1F2251   ;
height: 50px;
font-weight: bold;
font-size: 0.8rem;
line-height: 1.5;
letter-spacing: 0.00938em;
}
.MuiDataGrid-cell--textLeft{
color: rgb(18, 24, 40);
font-weight: 400;
font-size: 0.8rem;
line-height: 1.5;
letter-spacing: 0.00938em;
}
.nav {
transition: width .2s cubic-bezier(0.77,0,0.175,1);
height: 100%;
border-right: 1px solid #E7EAF1;
width: 18vw;
overflow-y: auto;
background: #1F2251;
color: rgb(209, 213, 219)
}
nav.nav {
width: 0;
border-right: 1px solid #d9e2e8;
transition: width .2s cubic-bezier(0.77,0,0.175,1);
width: 0;
height: 100%;
overflow-x: hidden;
overflow-y: hidden;
-ms-overflow-style: none;
top: 0;
left: 0;
z-index: 9989;
border: none;
display: flex;
flex-direction: column;
justify-content: flex-start;
}
nav + div {
transition: padding-left .2s cubic-bezier(0.77,0,0.175,1);
}
nav + div > ul{
display: flex;
flex-direction: column;
align-items: flex-start;
min-width: 18vw;
}
.logo button{
display: none;
}
.nav-item{
font-size: 0.88rem;
}
.nav-item .MuiSvgIcon-root{
font-size: 1.2rem;
}
.nav.animationTab{
    width: 20rem;
    height: 100%;
}
.navbarBox__main{
    height: 100%;
}
.MuiDialogActions-root button{
    background: #fff;
    box-shadow: none;
    border: 1px solid #1F2251;
}
.MuiDialogActions-root button:hover{
background-color: #1F2251;
color: #fff !important;
}
.main-content-body-result .MuiSvgIcon-root,.main-content-body .MuiSvgIcon-root{
font-size: 1rem;
}
.main-content-body-tittle button{
border: unset;
}
@media only screen and (max-width: 1600px) {
    .table-custom{
        font-size: 0.8rem !important;
    }
    .item-dashboard{
        font-size: 0.8rem ;
        width: 22%;
    }

    .item-dashboard-content h6{
        font-size: 1rem ;
    }
    .main-content{
        padding: 15px;
    }
}
.d-none{
    display: none!important;
}
.row-member{
    max-height: 150px;
    overflow-y: auto;
}
.change-lending-amount > div > h5{
    font-weight: 500 !important;
    font-size: 1rem;
    color: #1F2251;
    margin-bottom: 20px;
}
.change-lending-amount .main-content,.change-lending-amount .MuiBox-root{
    padding: 0 !important;
}
.change-lending-amount .MuiTabs-root button:hover{
    border-bottom: 2px solid #1F2251;
    margin-left: 2px;
}

/* mobile style */
@media only screen and (max-width: 787px) {
    .main-content-body:not(.company-manage-body) .sticky-body .MuiDataGrid-columnHeaders:after{
        content: unset!important;
    }
    .main-content-body:not(.company-manage-body) .sticky-body .MuiDataGrid-row .MuiDataGrid-cell:last-child{
        position: unset!important;
    }
    .super-app-theme--header{
        font-size: .8rem;
    }
    .nav.animationTab {
        visibility: visible;
    }
    .wrapper-form-login{
        width: unset;
        background: #ffffff94;
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        transition: all .3s ease-in-out;
        visibility: hidden;
    }
    .nav.animationTab .navbarBox__main {
        visibility: visible;
        transform: none;
    }
    .navbarBox__main {
        width: calc(100% - 50px);
        height: 100%;
        transition: all .3s ease-in-out;
        visibility: hidden;
        transform: translateX(-100%);
        background: #1F2251;
        overflow-y: auto;
    }
    .nav.animationTab .navbarBox__backdrop {
        visibility: visible;
        opacity: 1;
    }
    .navbarBox__backdrop {
        background-color: rgba(0,0,0,.75);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: all .3s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }
    .nav{
        background: unset;
        width: 100% !important;
    }
    .main-content-body-search > div{
        width: 100% !important;
        padding: 6px 0;
        margin: 0 !important;
    }
    .main-content-body-search{
        display: block;
        height: auto;
        padding: 10px 20px;
    }
    .main-content-header .row{
        display: block;
        margin-top: 10px;
    }
    .main-content-header button{
        margin: 10px 4px;
    }
    .main-content-body{
        margin-top: 10px;
    }
    .form-content .MuiGrid-container{
        display: block !important;
    }
    .form-content .MuiGrid-item{
        max-width: 100%;
        padding-top: 20px !important;
    }
    .error-message {
        margin-left: 0 !important;
    }
    .logo{
        justify-content: space-between;
        display: flex;
    }
    .wrapper-form-login .logo{
        display: block;
    }
    .logo img{
        width: 85% !important;
    }
    .main-content{
        padding: 12px;
    }
    .logo button{
        box-shadow: none;
        background: unset;
        border: unset;
        display: block;
    }
    #simple-tabpanel-0 > div,.simple-tabpanel-1 > div{
        padding: 0;
    }
    .list-table{
        display: block;
    }
    .MuiBox-root .MuiGrid-grid-md-12{
        flex-basis: 100%;
        max-width: 100%;
    }
    .wrapper-table{
        width: auto;
    }
    .item-dashboard{
        width: unset;
    }
    .calculate-interest-body .row{
        padding: 14px !important;
        margin: 0;
    }
    .calculate-interest-body .row .item-dashboard{
        margin: 6px 0;
    }
    .text-info-content{
        white-space: unset;
    }
}
.tutt20 .MuiDataGrid-columnHeaders:after {
    content: "Thao tác";
    width: 177px !important;
}

.main-content-body:not(.company-manage-body) .sticky-body .MuiDataGrid-columnHeaders:after {
    content: "Thao tác";
    width: 157px;
    height: 56px;
    position: absolute;
    right: -1px;
    background-color: #1f2251;
    padding-left: 10px;
    color: #fff;
    border-left: 1px solid #dee2e6;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: .8rem;
}
.main-content-body:not(.company-manage-body) .sticky-body .MuiDataGrid-row .MuiDataGrid-cell:last-child {
    position: sticky;
    right: 0px;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    min-width: 153px!important;
}
.main-content-body-result tr th:last-child,.main-content-body tr th:last-child{
    position: sticky;
    right: 0;
    background-color: #1f2251;
    border-left: 1px solid #dee2e6;
}
.main-content-body-result table tbody tr > td:last-child,.main-content-body table tbody tr > td:last-child{
    position: sticky;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;

}
.icon-action svg:not(svg:last-child){
    border-right: 1px dashed rgb(206 206 206);
    padding-right: 8px;
}
.symbol-percent:after {
    content: "%";

}
.flexible-modal {
    position: absolute;
    z-index: 1000 !important;
    border: 1px solid #ccc;
    background: white;
}
.flexible-modal-mask {
    position: fixed;
    height: 100%;
    background: rgba(55, 55, 55, 0.6);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999;
}

button:has(svg){
    color: #1F2251!important;
    border: unset!important;
}
button:has(svg):hover,.basic.tabs button:hover{
    background: unset!important;
    color: unset!important;
}
button,.main-content-header .row button{
    color: #1F2251!important;
    border: 1px solid #1F2251!important;
}
button:hover,.main-content-header .row button:hover{
    background: #1F2251!important;
    color: #fff!important;
}
.dashboardTab{
    border: unset!important;
}
.dashboardTab:hover{
    color: #fff;
    background: #1F2251!important;
}
div[role=dialog] button.Mui-selected{
    color: #fff!important;
    background-color: #1F2251!important;
}
div[role=dialog] button{
    border: unset!important;
}



.flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
}
.flexible-modal-drag-area{
    background: white !important ;
    height: 50px;
    position:absolute;
    right:0;
    top:0;
    cursor:move;
}
.modal-header-resize{
    color:black;
    display:flex;
    align-items:center;
    height: 50px;
    background: white !important;

}
.modal-header-resize-tittle{
    color:black;
    z-index: 1;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    padding-left: 10px;
}
.modal-body-resize{
    height: 80%;
    width: 100%;
}
/*disable datepicker*/
button[disabled]{
    color: rgba(0, 0, 0, 0.38) !important;
}